.cuerpo{
    --ion-background-color:#012C56;
    }
    .cuerpo2{
    --ion-background-color:#012C56;
    }
    .cuerpo3{
    --ion-background-color:#012C56;
    }
    .Textocualquiera1{
     color: white;  
    }
    
    
    .pie_app{
        text-align: center;
    }
    .titulolistas{
        color: #f9b901;
        text-align: center;
    }
    