<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />




<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">
        <h3>TeLlevoApp<ion-icon name="car-sport-sharp"></ion-icon></h3>
    </ion-title>
    <ion-buttons slot="start" >
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>






 
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="black">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!--CUENTA, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->
        <ion-item [routerLink] = "['/home']">
          <ion-icon name="home-outline"></ion-icon>
          Inicio
        </ion-item>
        <ion-item [routerLink] ="['/login']">
          <ion-icon name="log-in-outline"></ion-icon>
          Cierre de sesion
        </ion-item>
        <ion-item [routerLink] ="['/conductores']">
          <ion-icon name="people-circle-outline"></ion-icon>
          Lista de usuarios
        </ion-item>
        <ion-item [routerLink] = "">
          <ion-icon name="call-sharp"></ion-icon>
          Contactos
        </ion-item>
        <ion-item [routerLink] = "['/ayuda']">
          <ion-icon name="information-outline"></ion-icon>
          Ayuda
        </ion-item>
        <!--LOGOUT, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->


      </ion-list>
    </ion-content>
  </ion-menu>
 
  <ion-router-outlet id="main"></ion-router-outlet>
<ion-content class="conte">








<ion-card class="contenedor_Cond">
          <ion-card-header>
                <ion-card-title class="titulo_app"><b>Conductores</b></ion-card-title>
          </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let c of cond">
                  <ion-avatar slot="start">
                    <ion-img [src]="c.imgURL"></ion-img>
                  </ion-avatar>
                <ion-label>
                  {{c.nombre}}
                  <ion-item *ngFor="let ve of c.vehiculo">
                  {{ve}}
                  </ion-item>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
      </ion-card>
</ion-content>






<ion-footer class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-title color="light">
       <h3 class="pie_app">Duoc UC</h3>
    </ion-title>
  </ion-toolbar>
</ion-footer>
